<!-- Header -->
<header id="page-top" class="index">
    <div class="container video-entrada">
        <div class="row">
            <div class="col-lg-12">
                <div class="intro-text">
                    <span class="name">Destaque</span>
                    <div class="mySlides first">
                      <div class="title" (click)="goTo('/video/' + special.id)">{{ special.author }}<br>{{ special.title }}</div>
                      <img src="{{ 'assets/img/' + special.id + '.png' }}" (click)="goTo('/video/' + special.id)">
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>

<!-- Portfolio Grid Section -->
<section id="standup">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="test-estilos">Stand Up Comedy</h2>
            </div>
        </div>
        <div class="row videos">
            <div *ngFor="let i of numbers" class="col-sm-4 portfolio-item">
              <h3><span *ngIf="i == 0" class="new"><i class="fa fa-bolt" aria-hidden="true"></i> NOVO</span> {{ standups[i].title }}</h3>
              <h5>{{ standups[i].author }}</h5>
                <a class="portfolio-link" routerLink="{{ '/video/' + standups[i].id }}" routerLinkActive="active">
                    <img src="{{ 'assets/img/' + standups[i].id + '.png' }}" class="img-responsive" alt="">
                    <div class="length">{{ standups[i].length }}</div>
                </a>
            </div>
        </div>
        <div class="row more">
          <a class="more-standups" routerLink="/standup">Mais...</a>
        </div>
    </div>
</section>

<!-- Sketches Grid Section -->
<section id="sketches">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="test-estilos">Sketches</h2>
            </div>
        </div>
        <div class="row videos">
            <div *ngFor="let i of numbers" class="col-sm-4 portfolio-item">
              <h3><span *ngIf="i == 0" class="new-dark"><i class="fa fa-bolt" aria-hidden="true"></i> NOVO</span> {{ sketches[i].title }}</h3>
              <h5>{{ sketches[i].author }}</h5>
                <a class="portfolio-link" routerLink="{{ '/video/' + sketches[i].id }}" routerLinkActive="active">
                    <img src="{{ 'assets/img/' + sketches[i].id + '.png' }}" class="img-responsive" alt="">
                    <div class="length">{{ sketches[i].length }}</div>
                </a>
            </div>
        </div>
        <div class="row more">
          <a class="more-sketches" routerLink="/sketches">Mais...</a>
        </div>
    </div>
</section>

<!-- Pranks Grid Section -->
<section id="pranks">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="test-estilos">Pranks</h2>
            </div>
        </div>
        <div class="row videos">
            <div *ngFor="let i of numbers; let i = index" class="col-sm-4 portfolio-item">
              <!-- <span class="new"><i class="fa fa-bolt" aria-hidden="true"></i></span> -->
              <h3><span *ngIf="i == 0" class="new"><i class="fa fa-bolt" aria-hidden="true"></i> NOVO</span> {{ pranks[i].title }}</h3>
              <h5>{{ pranks[i].author }}</h5>
                <a class="portfolio-link" routerLink="{{ '/video/' + pranks[i].id }}" routerLinkActive="active">
                    <img src="{{ 'assets/img/' + pranks[i].id + '.png' }}" class="img-responsive" alt="">
                    <div class="length">{{ pranks[i].length }}</div>
                </a>
            </div>
        </div>
        <div class="row more">
          <a class="more-pranks" routerLink="/pranks">Mais...</a>
        </div>
    </div>
</section>

<app-footer></app-footer>

<!-- Scroll to Top Button (Only visible on small and extra-small screen sizes) -->
<div class="scroll-top page-scroll hidden-sm hidden-xs hidden-lg hidden-md">
    <a class="btn btn-primary" href="#page-top">
        <i class="fa fa-chevron-up"></i>
    </a>
</div>
