<!-- Portfolio Grid Section -->
<section id="standup">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="test-estilos">Stand Up Comedy</h2>
            </div>
        </div>
        <div class="row videos">
            <div *ngFor="let video of videos, let i = index" class="col-sm-4 portfolio-item">
              <h3><span *ngIf="i == 0" class="new"><i class="fa fa-bolt" aria-hidden="true"></i> NOVO</span> {{ video.title }}</h3>
              <h5>{{ video.author }}</h5>
                <a class="portfolio-link" routerLink="{{ '/video/' + video.id }}" routerLinkActive="active">
                    <img src="{{ 'assets/img/' + video.id + '.png' }}" class="img-responsive" alt="">
                    <div class="length">{{ video.length }}</div>
                </a>
            </div>
        </div>
    </div>
</section>
